extends layout

block content
  h1 CLAV 
  p Esta plataforma destina-se a entidades da Administração Pública, a empresas públicas e a outras entidades de Portugal Continental e permite a interação entre estas e a DGLAB.

  p 
    a(href='/classes') Classes
  p 
    a(href='/termosIndice') Termos de índice
